.header{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* height: 100px; */
}

.logo img {
    width: 70px;
}

.nav-items ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    font-size: 1.1rem;
}
.nav-items >ul >li {
    padding: 10px;
} 

.search-box {
    padding: 10px;
}
.conatainer {
    padding: 5px;
}

.res-container > .res-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.cards {
    width: 200px;
    /* height: 300px; */
    padding: 5px;
    margin: 5px;
}
.res-logo {
    width: 100%;
    height: 140px;
}
.cards:hover {
    cursor: pointer;
    border: 2px solid black;
}

.filter-btn {
    cursor: pointer;
    margin: 10px;
}
.m-0{
    margin: 8px;
}

/* Shimmer Card or Shimmer UI */
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shimmer-card {
    background-color: #f0f0f0;
    width: 200px;
    height: 300px;
    padding: 5px;
    margin: 5px;
}

.btnLogin{
    padding: 0 10px;
    cursor: pointer;
}